body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.background {
    background-color: #d1d1d1;   
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.section {
    background: url('/image/back.jpg');
    background-size: cover; 
    text-align: center;
    margin: 0 550px;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.section-extra {
    background-color: #dcdcdc;
    text-align: center;
    margin: 0 400px;
    padding: 40px;
    margin-top: 30px;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.logo-section {
    text-align: center;
    margin-top: 100px;
}

.logo {
    margin-bottom: 10px;
    width: 80px;
    height: auto;
    border-radius: 50%;
}

.button0{
    background-color: #0089cd;
    text-decoration: none;
    color: #ffffff;
    border: none;
    padding: 10px 30px;
    border-radius: 100px;
    cursor: pointer;
}
.button0 a{
    text-decoration: none;
}
.button0:hover{
    background-color: #00aeff;
}
.button1{
    background-color: #0089cd;
    text-decoration: none;
    color: #ffffff;
    border: none;
    padding: 10px 30px;
    border-radius: 100px;
    cursor: pointer;
}
.button1 a{
    text-decoration: none;
}
.button1:hover{
    background-color: #00aeff;
}

.section label {
    width: 80px;
    text-align: left;
}
.section input[type="text"],
.section input[type="email"],
.section input[type="password"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.back {
    display: inline-block;
    padding: 10px 20px;
    color: #724bff;
    border-radius: 25px;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}