<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajouter un utilisateur</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/Edit.css">
</head>
<body>
    <header class="header">
        <div class="header-content">
            <img src="/image/img.png" class="header_logo" alt="FashionSphere Logo">
            <span class="FashionSphere">FashionSphere</span>
            <nav class="navbar">
                <a href="/Admins"><i class="fas fa-user-shield"></i> Admin</a>
                <a href="/Users"><i class="fas fa-users"></i> Users</a>
                <a href="/Products"><i class="fas fa-box-open"></i> Products</a>
                <a href="/login"><i class="fas fa-sign-in-alt"></i> Logout</a>
            </nav>
        </div>
    </header>
    
    <section class="edit-product">
        <div class="edit-product-form">
            <h2>Add a User</h2>
            <form action="/Users" method="post">
                <label for="Name">Name :</label>
                <input type="text" name="Name" required>

                <label for="Email">Email :</label>
                <input type="email" name="Email" required>

                <label for="Username">Username :</label>
                <input type="text" name="Username" required>

                <label for="Password">Password :</label>
                <input type="password" name="Password" required>


                <button type="submit" name="add">Add</button>
            </form>
        </div>
    </section>
</body>
</html>