<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Édition du produit</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/edit.css">
</head>
<body>
    <header class="header">
        <div class="header-content">
            <img src="/image/img.png" class="header_logo" alt="FashionSphere Logo">
            <span class="FashionSphere">FashionSphere</span>
            <nav class="navbar">
                <a href="/Admins"><i class="fas fa-user-shield"></i> Admin</a>
                <a href="/Users"><i class="fas fa-users"></i> Users</a>
                <a href="/Products"><i class="fas fa-box-open"></i> Products</a>
                <a href="/login"><i class="fas fa-sign-in-alt"></i> Logout</a>
            </nav>
        </div>
    </header>

    <section class="edit-product">
        <div class="edit-product-form">
            <h2>Add a product</h2>
            <form action="/Products" method="post" enctype="multipart/form-data">
                <label for="Titre">Titre :</label>
                <input type="text" name="Titre" required>
                
                <label for="Description">Description :</label>
                <textarea name="Description" required></textarea>
                
                <label for="Prix">Prix :</label>
                <input type="number" name="Prix" step="0.01" required>
                
                <label for="Categorie">Catégorie :</label>
                <select name="Categorie" required>
                    <option value="men" >Men</option>
                    <option value="women" >Women</option>
                    <option value="accessories">Accessories</option>
                </select>
                
                <label for="Taille">Taille :</label>
                <input type="text" name="Taille" required>
                
                <label for="Stock">Stock :</label>
                <input type="number" name="Stock" required>
                
                <label for="Photo">saisir une image :</label>
                <input type="file" name="Photo" required>
                
                <button type="submit" name="edit">Add</button>
            </form>
        </div>
    </section>
</body>
</html>
