<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FashionSphere</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/Admin_space.css">
</head>
<body>
    <header class="header">
        <div class="header-content">
            <img src="/image/img.png" class="header_logo" alt="FashionSphere Logo">
            <span class="FashionSphere">FashionSphere</span>
            <nav class="navbar">
                <a href="/Admins"><i class="fas fa-user-shield"></i> Admin</a>
                <a href="/Users"><i class="fas fa-users"></i> Users</a>
                <a href="/Products"><i class="fas fa-box-open"></i> Products</a>
                <a href="/login"><i class="fas fa-sign-in-alt"></i> Logout</a>
            </nav>
        </div>
    </header>

    <div class="confirmation-message">
        <p>Êtes-vous sûr de vouloir supprimer cette l'utilisateur</p>
        <form action="/Users/<%= userId %>?_method=DELETE" method="POST">
            <button type="submit" name="confirm" class="btn btn-danger">Oui, supprimer</button>
            <a href="/Users" class="btn btn-cancel">Non, annuler</a>
        </form>
    </div>

</body>
</html>